node_modules/
.pnp
.pnp.js
.env
.env.local
.env.*.local
*.pem
keys/
dist/
build/
.turbo/
.next/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
coverage/
*.log
npm-debug.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/Pods/
android/.gradle/
android/app/build/
.expo/
web-build/
*.secret
*.private
private.pem
